@import "tailwindcss";

@layer base {
  :root {
    --pm-background: #f8f8f8;
    --pm-background2: #f1f1f1;
    --pm-foreground: #171717;
    --pm-foreground2: #6d6d6d;
    --pm-reverseForground: #ffffff;
    --pm-signature: #0fafff;
  }
}

@theme {
  --color-background: var(--pm-background);
  --color-background2: var(--pm-background2);
  --color-foreground: var(--pm-foreground);
  --color-foreground2: var(--pm-foreground2);
  --color-reverseForground: var(--pm-reverseForground);
  --color-signature: var(--pm-signature);
}

html {
  @apply text-foreground bg-background;
}

@keyframes mist {
  0% {
    transform: translateX(-50%) translateY(-40%) scale(1.2);
    opacity: 0.2;
  }
  50% {
    transform: translateX(20%) translateY(30%) scale(1.4);
    opacity: 0.3;
  }
  100% {
    transform: translateX(50%) translateY(40%) scale(1.2);
    opacity: 0.2;
  }
}

.animate-mist {
  animation: mist 12s infinite alternate ease-in-out;
  filter: blur(50px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Tailwind에서 사용할 클래스 */
.animate-fade-in {
  animation: fadeIn 1s ease-in-out both;
}

.animate-fade-out {
  animation: fadeOut 1s ease-in-out both;
}
